<div id='chat' ng-init="loadCurrent(); promptName()">
  <h1>Chat<h1>
  <p>user: {{ name }}</p>
  <p>users: {{ users.length }}</p>
  <p ng-repeat="user in users track by $index">{{ user }}</p>
  <form name="sendmessage" ng-submit="sendMessage()" novalidate>
    <input
      type="text"
      placeholder="Message"
      required
      ng-model="message">
    </input>
    <button
      type="submit"
      name="button"
      ng-disabled="sendmessage.$invalid">
    Send
    </button>
  </form>
  <p>messages: {{ messages.length }}</p>
  <p ng-repeat="message in messages track by $index ">
    {{ message.user }} @ {{ message.createdAt}}: {{ message.text }}
  </p>
</div>
