<div class="container-fluid" id='chat' ng-init="loadCurrent(); promptName()">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      user: {{ name }}
    </div>
    <div class="col-md-2">
    <!-- TODO: Show current Users -->
      <div class="list-group">
        <a class="list-group-item active">
          Users: {{ users.length }}
        </a>
        <a class="list-group-item" ng-repeat="user in users track by $index">
          {{ user }}
        </a>
      </div>
    </div>
  </div>
  <form name="sendmessage" ng-submit="sendMessage()" novalidate>
    <input
      type="text"
      placeholder="Message"
      required
      ng-model="message">
    </input>
    <button
      type="submit"
      name="button"
      ng-disabled="sendmessage.$invalid">
    Send
    </button>
  </form>
  <p>messages: {{ messages.length }}</p>
  <p ng-repeat="message in messages track by $index ">
    {{ message.user }} @ <span am-time-ago="message.createdAt | amParse:'YYYY-MM-DD H:mm:ss'"></span>: {{ message.text }}
  </p>
</div>
