<div class="container-fluid">
  <div class="col-md-offset-4 col-md-4">
    <form name="signinForm" ng-submit="signin()">
      <h2>Please sign in</h2>
      <input
        type="username"
        class="form-control"
        placeholder="Username"
        required
        autofocus
        ng-model="user.username">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        required
        ng-model="user.password">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>
