<div class="container-fluid">
  <div class="col-md-offset-4 col-md-4">
    <form name="registerForm" ng-submit="signup()">
      <h2>Please register</h2>
      <input
        type="username"
        class="form-control"
        placeholder="Username"
        required
        autofocus
        ng-model="user.username">
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        required
        ng-model="user.password">
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Signup!</button>
    </form>
  </div>
</div>
